.elements__grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  margin: 0 auto;
  padding: 0;
  list-style: none;
  gap: 17px;
  
}

@media(max-width: 900px){
  .elements__grid{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}