.login{
  color: white;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 358px;
  width: 100%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

@media(max-width:425px){
  .login{
    padding: 0 30px;
  }
 
}
