.profile__edit-button{
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  background-image: url(../../../images/profile__edit-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  transition: .3s;
}

@media(max-width: 600px){
  .profile__edit-button{
    width: 18px;
    height: 18px;
    margin-top: 5px;
  }
}

.profile__edit-button:hover{
  opacity: .6;
  cursor: pointer;
}